@model SONMARKET.DTO.PromocaoDTO
@{
    Layout = "_LayoutAdmin";
}

<h3>Nova Promoção</h3>
<hr />

<form class="form-horizontal" asp-controller="Promocoes" asp-action="Salvar" method="post">
    <input type="hidden" asp-for="Id" value="0">

    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da promoção">
    <span asp-validation-for="Nome"></span>
    <br>

    <label asp-for="ProdutoID">Produto</label>
    <select class="form-control" asp-for="ProdutoID"
        asp-items='@(new SelectList(@ViewBag.Produtos, "Id", "Nome"))'></select>
    <br>

    <label asp-for="Porcentagem">Porcentagem</label>
    <input type="number" min="0" max="100" asp-for="Porcentagem" placeholder="10%" class="form-control">
    <!--<span asp-validation-for="Porcentagem"></span>-->
    <br>

    <button class="btn btn-success">Cadastrar</button>
</form>
